body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #10002B;
    padding: 20px;
}

img {
    width: 280px;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
}

#pageContainer {
    width: 500px;
    margin: 0 auto;
    display: block;
}

.inputWrapper {
    width: 500px;
    height: 50px;
    background-color: #F4EFFA;
    border-radius: 25px;
}

input[type="text"] {
    width: 400px;
    font-size: 20px;
    margin-left: 20px;
    background-color: #F4EFFA;
    border: none;
}

input[type="text"]:focus {
    outline: none;
}

#addDomain {
    width: 60px;
    height: 42px;
    border-radius: 20px;
    background-color: #5A189A;
    border: none;
    color: #F4EFFA;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    margin: 4px;
    transition-duration: 0.3s;
}

#addDomain:hover {
    background-color: #9D4EDD;
    transition-duration: 0.3s;
}

#addDomain:active {
    background-color: #5A189A;
}

#blockedDomainsTable {
    width: 500px;
    margin-top: 20px;
    background-color: #240046;
    border-color: #9D4EDD;
    border-width: 2px;
    border-style: solid;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#blockedDomainsTable th {
    padding: 10px;
    text-align: center;
    font-size: large;
    color: #E0AAFF;
    background-color: #5A189A;
}

#blockedDomainsTable td {
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

#removeButton {
    background-color: #240046;
    border: none;
}

#deleteIcon {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    cursor: pointer;
}

#deleteIcon:hover {
    transform: scale(1.1);
}

#clearList {
    margin-left: 38%;
    height: 50px;
    border-radius: 25px;
    padding-inline: 20px;
    background-color: #5A189A;
    border: none;
    color: #F4EFFA;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.3s;
}

#clearList:hover {
    background-color: #9D4EDD;
    transition-duration: 0.3s;
}

#clearList:active {
    background-color: #5A189A;
}

td {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}