body {
  font-family: Arial, sans-serif;
  color: #F4EFFA;
  background-color: #10002B;
  padding: 20px;
  margin: 0;
  width: 300px;
  border-width: 3px;
  border-style: solid;
  border-color: #9D4EDD;
  border-radius: 10px;
}

.wrapper {
  text-align: center;
}


#titleImage {
  width: 280px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;  
}

#settingsIcon {
  width: 30px;
  margin: 0 auto;
  display: block;
  transition-duration: 0.5s;
}

#settingsIcon:hover {
  rotate: 45deg;
  transition-duration: 0.5s;
}

#buttonWrapper {
  height: 85px;
  margin-bottom: 20px;
}

.on {
  width: 80px;
  height: 80px;
  background-color: #C77DFF;
  border: none;
  color: #7B2CBF;
  font-weight: 700;
  font-size: 26px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s;
  margin-top: 3px;
  margin-bottom: 3px;
  box-shadow: 0px 0px 30px #C77DFF;
}

.on:active {
  transform: scale(1.1);
}

.off {
  width: 80px;
  height: 80px;
  background-color: #7B2CBF;
  border: none;
  color: #C77DFF;
  font-weight: 700;
  font-size: 26px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s;
  margin-top: 3px;
  margin-bottom: 3px;
}

.off:active {
  transform: scale(1.1);
}

table {
  width: 100%;
  background-color: #240046;
  border-color: #9D4EDD;
  border-width: 2px;
  border-style: solid;
  border-collapse: collapse;
}

th {
  padding: 10px;
  text-align: center;
  font-size: large;
  color: #E0AAFF;
  background-color: #5A189A;
}

td {
  padding: 15px;
  text-align: center;
  font-size: large;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  accent-color: #C77DFF;
}